proj
sim
tb/infrastructure/commerical
rtl/commerical

# AHB FRBM instruction
*.m2d
# Compiled data files
*.mem

# Output of gowin IP cores
# FFT
rtl/dsp/fft/ip/fft
!fft_ip.ipc
rtl/dsp/fft/ip/fifo_fft_in
!fifo_fft_in.ipc
rtl/dsp/fft/ip/fifo_fft_out
!fifo_fft_out.ipc

# Graphic IPs
rtl/graphic/ip/hdmi_tx
!hdmi_tx.ipc
rtl/graphic/ip/vdma
!vdma.ipc

# MCU core
rtl/mcu/ip/gowin_picorv32
!Gowin_PicoRV32_Top.ipc

# Legacy subsystem IPs
rtl/subsystem/ddr3_2_ahb
rtl/subsystem/frame_buffer_read