[submodule "rtl/mcu/picorv32"]
	path = rtl/mcu/picorv32
	url = https://github.com/YosysHQ/picorv32.git
[submodule "rtl/dsp/fft/ip/dblclockfft"]
	path = rtl/dsp/fft/ip/dblclockfft
	url = https://github.com/ZipCPU/dblclockfft.git
